.categories {
    /* border: 2px orange solid; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 14vh;
    justify-content: center;  
    /* padding: 0% 20%; */
    align-content: space-around;
  }
  
  .ui.button {
    width: 100px !important;
    /* background-color: #6E95DC !important;
    color: white; */
  }

  .ui.button:hover {
    /* background-color: #5381d5 !important;
    color: white;
    transition: .7s; */
  }

  .konata {
      /* tbd */
  }

  .ui.twitter.button:nth-last-child(1){
    width: 308px !important;
  }